/*投票画面のcssファイル*/

.wrapper {
  width: 800px;
  padding: 5px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.pred {
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  width: 100px;
  text-align: center;
  margin-left: 20pt;
  z-index: 10;
  
}


.title {
  background-color: #00BFFF;
  height: 60px;
  font-size: 30pt;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.p_title {
  background-color: #FFCCCC;
  width: 70%;
  margin-bottom: 5px;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
  float: left;
  text-align: center;
  font-size: 25px;
}

.fg_title {
  background-color: #90EE90;
  width: 70%;
  margin-bottom: 5px;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
  float: left;
  text-align: center;
  font-size: 25px;
}

.p_vote_title {
  background-color: #FFCCCC;
  width: 29%;
  margin-bottom: 5px;
  /*border: solid 1px #0099FF;*/
  float: left;
  text-align: center;
  font-size: 25px;
}

.fg_vote_title {
  background-color: #90EE90;
  width: 29%;
  margin-bottom: 5px;
  /*border: solid 1px #0099FF;*/
  float: left;
  text-align: center;
  font-size: 25px;
}

.p_explain, .p_vote, .fg_explain, .fg_vote {
  /*height: 220px;*/
  height: 260px; /*入力フォームの数に応じて高さを変えて欲しい*/
  margin-bottom: 5px;
  -khtml-user-drag: element;
  padding: 10px;
  float: left;
}

.p_explain {
  /*background-color: #FFE5F2;*/
  background: #FFF0F5;
  width: 67.5%;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
}

.p_vote {
  position: relative;
  background-color: #FFF0F5;
  width: 26.5%;
  /*margin-left: 3px;*/
  /*border: solid 1px #0099FF;*/
}

.fg_explain {
  /*background-color: #DBFFDB;*/
  background: #E6FFE9;
  width: 67.5%;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
}

.fg_vote {
  background-color: #E6FFE9;
  width: 26.5%;
  /*margin-left: 3px;*/
  /*border: solid 1px #0099FF;*/
  margin: 0 auto;
}


.rank_num {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.p_checkbox {
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.fg_checkbox {
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
}


.member {
  clear: both;
  background-color: white;
  height: 130px;
  width: 100%;
  margin-top: 10px;
}

.clear {
  clear: both;
}


.column {
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 30px;
  width: 70px;
  line-height: 30px;
  border: 2px solid #000;
  background-color: #ccc;
  margin: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  */
  text-align: center;
  cursor: move;
}

div.column {
  float: left;
}

#submit_vote {
  margin-top: 5px;
  float: right;
  width: 100%;
  height: 50px;
  font-size: 10pt;
}

label, input[type='checkbox'] {
    cursor: pointer;
}

div.check {
  color: red;
  font-size: 25px;
  text-aling: center !important;
}
